
.container__projeto {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

.titulo__contato {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.container__contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container__contato a img{
    opacity: 0.6;
}

.contato__link-email:hover{
    transition: .5s;
    transform: scale(1.2);
}

.contato__link-git:hover{
    transition: .5s;
    transform: scale(1.2);
}

.contato__link-linkedin:hover{
    transition: .5s;
    transform: scale(1.2);
}

.contato__link-whats:hover{
    transition: .5s;
    transform: scale(1.2);
}

.contato__link {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens ao centro */
    text-decoration: none; /* Remove o sublinhado do link */
    color: #fff     ; /* Cor do texto */
    margin-right: 20px; /* Espaçamento à direita entre o ícone e o texto */
}

.contato__link img {
    width: 50px; /* Largura do ícone de e-mail */
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 10px; /* Espaçamento à direita entre a imagem e o texto */
}